@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Acme & family= Chicle & family= Passion+One & family= Uchen & display=swap');
*{
    margin: 0px;
    padding: 0px;

 
font-family: 'Acme', sans-serif;
 font-family: 'Chicle', cursive;
 font-family: 'Passion One', cursive;
 font-family: 'Uchen', serif;
 

    
    color: #023059;
    color: #035AA6;
    color: #2682A6;
    color: #7BBF4B;
    color: #F2B705;
    color: aliceblue;
    
}

header{
    width: 100%;
    
    background-size: cover;
    position: fixed;
    z-index: 10;
    display: flex;
    background-image: linear-gradient(to bottom ,#023059,#024580,#023059);
    padding:10px;
    box-shadow:2px 3px 2px rgba(0, 0, 0, 0.473);
    padding-top: 0px;
    padding-bottom: 0px;
}
.hed{
   background-image: linear-gradient(to bottom, #023868,#024580);
}
.he{
    padding-top: 0px;
}
#cab{
    display: flex;
    align-items: center;
    font-size: 1.2em;
    
}
#cab img{
    width: 5%;
    margin-left: 35px;
    margin-top: 10px;
}
#car{
    display: flex;
    background-color:#F2E205;
    color:#023059;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.315);
    padding: 8px;
    border-radius: 30px;
}
#car:hover{
    background-color:#f3e960;
    color:#01192e;
    padding: 10px;
}
#cada:hover{
    background-color:#0460b1;
    color:#C5D932;
    padding: 12px;
}
#ca{
    padding:8px;
}
#ca p{
    display: flex; 
    color: aliceblue; 
    
}
#ca h1{
    font-size: 2em; 
    color: aliceblue;
      
}
nav{
    display: flex;
    margin-left: 50px;
}
nav a{
  text-decoration: none;
  color: aliceblue;
  font-size:1.1em;
  padding:15px;
}
#na{
    display: flex;
    width: 100px;
    height: 20px;
    background-color: #F2B705;
    color: #ffffff;
    margin-left: 100px;
    border: 1px solid rgba(0, 0, 0, 0.445);
    border-radius: 30px;
}
main{
    
    position: absolute;
    top:92px;
    width: 100%;   
}
#dvslider{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 67vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

#dvslider img{
    display: flex;
    
}

#icon{
    display: flex;
    width: 99%;
    margin: 5px;
    margin-top: 20px;
}
#icone{
    display: flex;
    margin: 5px;
    margin-top: 20px;
}
.t1{
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid #023059;
    margin: 2%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}.t2{
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2682a634;
    margin: 2%;
    border-radius: 10px;
    border:1px solid #2682a667;
    padding: 10px;
    text-align: center;
}

.t1:hover{
    font-size: 20px;
    padding: 13px;  
    color: #ffffff;
}
.t2:hover{
    font-size: 20px;
    padding: 13px;  
    color: #ffffff;
}

.t2 h2{
    color: #023059;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.233);
    
}
.t2 p{
    color: #023059;
   
}
.t1 h2{
    color: #023059;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.233);
    
}
.t1 p{
    color: #023059;
   
}
strong{
    color: #023059;
}
.t1 img{
    padding: 15px;
}
.t2 img{
    padding: 15px;
}
#tex{
    display: flex;
    background-color: #023059;
    box-shadow: 3px 5px 3px #01213d6b;
    font-size: 1.6em;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.233);
    text-align: center;
    justify-content: center;
  
}
.ind{
    display: flex;
    background-color:#b6f1f533;
    width: 25%;
    height: 20px;
    margin: 10px;
    margin-bottom: 3px;
    border-radius: 5px;
   
    
}



#mod{
    background-color:#01213d;
    display: flex;
    width: 98%;
    padding: 10px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;;
    
}
.moda{
    width: 40%;
    padding: 10px;
   
    text-align: center;
    
}
#marca img{
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
    width: 80%;
   background-color:#488F31;
   border-radius: 100px;
    box-shadow: 2px 3px 2px rgba(0, 37, 58, 0.582);
}
#ma img{
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 25px;
    width: 65%;
    border-radius: 100px;
    box-shadow: 2px 3px 2px rgba(173, 219, 6, 0.582);
}
#video{
    display: flex;
    padding: 10px;
    width: 98%;
    justify-content: space-between
    
}
.vid{
    display: flex;
    padding: 10px;
    width: 49%;
    align-items: center;
    
}
p{
    color: #C5D932;
    padding: 10px;
}
h1{
    font-size: 2em;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.521);
    color:#F2E205;
    border-radius: 2px;
}
h2{
    font-size: 2em;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.521);
    color:#F2E205;
    border-radius: 2px;
    text-align: center;
}
#cada{
   font-family: 'Acme', sans-serif;
   
   text-decoration: none;
   font-size: 1.2em;
   color:#ffffff;
   font-weight: bold;
   background-image: linear-gradient(to bottom ,#055194,#0460b1,#055194);
    text-shadow: 1px 2px 1px black;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.342);
}
form{
    width: 60%;
    margin-left: 18%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: linear-gradient(to right ,#01213d,#024580,#024580,#012341);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.342);
}
input{
    font-family: 'Acme', sans-serif;
    text-align: center;
    color: #023059;
    width: 50%;
    padding: 10px;
    margin-left: 23%;
    font-size: 1em;
    border-radius: 10px;
   
}
label p{
    font-family: 'Acme', sans-serif;
    padding-bottom: 0px;
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 2px 1px #01213d71;
}

form h2{
    text-align: left;
    align-items: center;
}
#for{
    font-family: 'Acme', sans-serif;
    text-align: center;
    color:#F2B705;
    padding: 20px;
    text-shadow: 1px 2px 1px black;
}
textarea{
    text-align: center;
    color: #023059;
    width: 50%;
    padding: 10px;
    margin-left: 23%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.315);
}
.but{
    margin-top: 30px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    background-color: #F2B705;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.418);
    margin-left: 36%;
    width: 30%;
    padding-left: 4px;
    
}
#to img{

    width: 100%;
    align-items: flex-start;
    justify-content: flex-start
    
    
    
}
#let{
    margin-left: 10%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
#let h1{
    font-family: 'Acme', sans-serif;
    font-size: 2.2em;
    color: #ffffff;
    text-shadow: 1px 2px 1px #01213d8a;
}
#let h2{
    font-size: 1.5em;
    color: #ffffff;
    text-shadow: 1px 2px 1px #01213d8a;
}

footer{
    position:absolute;
    bottom: -1630px;
   
    width: 98%;
    background-image: linear-gradient(to bottom ,#023059,#024580,#023059);
    padding:10px;
    box-shadow:2px 3px 2px rgba(0, 0, 0, 0.473);
    text-align: center;
}
footer p{
    color: #ffffff;
}
footer h2{
    color: #ffffff;
}
.foo{
    position:absolute;
bottom: -950px;
}
iframe{
    width: 99%;
    height: 400px;
    margin-left: 7px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.315);
}

.whats img{
position: fixed;
bottom: 5px;
right: 5px;
width: 6%;
}
.whats:hover img{
    width: 7%; 
}
.bt{
    background-color: #01213d3f;
    width: 3%;
    height: 50px;
    cursor: pointer;
    outline: none;
    margin: 5px;
    border: none;
   
}
.bt h1{
    color:#ffffffb4;
    font-size: 3.5em;
    text-shadow: none;
}
ul{
    margin: 3px;
    padding: 2px;
    list-style-type: none;
}
.menu{
    display: none;
    font-size: 1.3em;
    
}
ul:hover .menu{
    display: block;
}

li a{
    text-decoration: none;
    color: white;
    margin-left: 1px;
}
#men{
    text-decoration: underline;
    float: left;
    color: white;
    font-size: 1.2em;
    text-align: center;
    text-shadow:1px 2px #3c3f4262;
    padding: 5px;
    
}
.menu:hover{
    color:#ffda06;
    text-shadow: 4px 2px 4px rgb(0 0 0);
    padding: 8px;
    font-size: 1.2em;
   
}
#men:hover{
    display: block;
    color:#ffda06;
    text-shadow: 4px 2px 4px rgb(0 0 0);
    padding: 8px;
    font-size: 1.2em;
    
}
li:hover a{
    text-decoration: underline;
    display: block;
    color:#ffda06;
    text-shadow: 4px 2px 4px rgb(0 0 0);
    padding: 8px;
    font-size: 1.2em;
  
}
@media  screen and (max-width: 1790px){
   
    #resp{
        display: none;
    }
    #car{
        position: fixed;
        top: 25px;
        right: 135px;
        width: 12%;
    }
    #cada{
        margin-left: 37%;
    }
    
    
      }
@media  screen and (max-width: 1280px){
    #cada{
        margin-left: 36%;
    }
    #resp{
        display: none;
    }
   header{
    padding-top: 17px;
    padding-bottom: 17px;
   }
   #dvslider{
    width: 100vw;
    height: 58vh; 
}
    #cab img {
        margin-left: -5px;
        margin-top: 8px;
      }
      nav {
        margin-left: 0px;   
    }
    nav a {
        font-size: 1em;
        padding: 6px;
    }
    #ca p {
        display: none;
    }
    #ca h1 {
        font-size: 1em;
    }
    #car{
        position: fixed;
        top: 25px;
        right: 100px;
        width: 18%;

    }
    .vid{  
        width: 49%;
    }}
  @media  screen and (max-width: 1040px){
    #cada{
        margin-left: 30%;
    }
    header{
        padding-top: 17px;
        padding-bottom: 17px;
       }
       #car{
        position: fixed;
        top: 25px;
        right: 73px;
        width: 15%;
        font-size: .8em;

    }
    #dvslider{
        width: 100vw;
        height: 45vh; 
    }
  }
  @media screen and (max-width: 840px){
    #cada{
        margin-left: 27%;
        font-size: 1em;
    }
    #resp{
        display: block;
    }
    #princ{
        display: none;
    }
    header{
        padding-top: 17px;
        padding-bottom: 17px;
       }
       #dvslider{
        width: 100vw;
        height: 35vh; 
    }
    #cab img{
        width: 12%;
        margin-left: 17%;
        margin-top: 10px;
    }
    #car{
        position: fixed;
        top: 25px;
        right: 10px;
        width: 25%;
        font-size: .8em;
    }
    #ca h1{
        font-size: 1.3em;      
    }
    .t1 h2{
        font-size: 1.1em;
    }
    .t2 h2{
        font-size: 1.1em; 
    }
    .t1 p{
        font-size: .8em; 
    }
    .t2 p{
        font-size: .8em;
    }
    h1{
        font-size: 1.1em;
    }
    p{
        font-size: .8em;
    }
    .vid {
        width: 100%;
        display: block;
    }
    #video{
        width: 100%;
        display: block;
    }
    footer{
        position:absolute;
        bottom: -1950px;
  }
  footer h2{
    font-size: 1.3em;
}}
  
  @media  screen and (max-width: 500px){
    #cada{
        margin-left: 18%;
        font-size: .8em;
    }
    #resp{
        display: block;
    }
    #princ{
        display: none;
    }
    header{
        padding-top: 17px;
        padding-bottom: 17px;
       }
       #dvslider{
        width: 100vw;
        height: 40vh;
      
    }
    #cab img{
        width: 9%;
        margin-left: 17%;
        margin-top: 10px;
    }
    #car{
        position: fixed;
        top: 25px;
        right: 10px;
        width: 23%;
        font-size: .7em;
    }
    #ca h1{
        font-size: 1.1em; 
          
    }
    .t1 h2{
        font-size: 1em;
    }
    .t2 h2{
        font-size: 1em; 
    }
    .t1 p{
        font-size: .7em; 
    }
    .t2 p{
        font-size: .7em;
    }
    h1{
        font-size: 1em;
    }
    p{
        font-size: .7em;
    }
    footer{
        position:absolute;
        bottom: -1750px;
  }
  footer h2{
    font-size: 1.1em;
}
  }
  